.entry_title{
  position: absolute;
  left: 45%;
  top: 30%;
}


.entry_data{
  position: absolute;
  left: 15%;
  width: 70%;
  height: fit-content;
  text-align: center;
  top: 50%;
}



.sub{
  position: absolute;
  left: 70%;
  top: 80%;
  border: 2px solid #596e79;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
}



.sub:hover{
  border: 2px solid #2bb2bb;
  box-shadow: 5px 5px 20px 10px #e6e6ea;
}
