{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block style %}
  <link href="{% static 'encyclopedia/new.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <h2> New Entry </h2>
  <form class="new-entry" action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <input class="tit" type="text" name="title-a" placeholder="Write the title fo your article here .">
    <br>
    <textarea class="textarea" type="text" name="entry-d" placeholder="Write your article here ."></textarea>
    <input type="submit">
  </form>

{% endblock %}
